.root {
    position: relative;
    width: 100%;
    overflow: hidden;
    min-height: 100vh;
}

/* ---- start dashboard ---- */
.container {
    margin-left: 200px;
    position: relative;
    padding: var(--p-spacing);
    transition: var(--trans);

}

@media (max-width: 700px) {
    .container {
        margin-left: 70px;
    }
}

.container.close {
    margin-left: 70px;
}

.dashboard__head {
    display: flex;
    justify-content: space-between;
}

.dashboard__head a {
    font-size: .8rem;
}

.dashboard input {
    min-width: 100%;
}

.dashboard .action {
    cursor: pointer;
}

.dashboard .action[title=Edit] {
    color: var(--text-secondary);
    position: relative;
}

.dashboard .action[title=Delete] {
    color: var(--danger);
    position: relative;
}

.dashboard .action:hover {
    opacity: .9;
}

.addpost__col {
    display: flex;
    gap: var(--p-spacing);
}

.addpost__col .input {
    flex: 1;
}

@media (max-width: 700px) {
    .addpost__col {
        display: block;
    }

    .dashboard__addpost {
        display: none;
    }
}

/* ---- end dashboard ---- */

/* ---- start addpost ---- */
.addpost__error {
    display: none;
    color: var(--danger);
    font-size: .8rem;
    margin-bottom: 2rem;
}

/* ---- end addpost ---- */